/* theme admin css */

#wpwrap {
	background: url(logo_light.svg) center center no-repeat !important;
}

#not_wp-form .tab-content {
	padding: 15px 0 0 15px;
}

#not_wp-form .form-block {
	margin-top: 5px;
}

#not_wp-form .form-block-ns {
	margin-top: 1px;
}

#not_wp-form .not_wp-tab {
	display: none;
}

#not_wp-form input[type=text] {
	margin-top: 4px;
	width: 218px;
}

#not_wp-form label {
	display: block;
}

#not_wp-form select {
	margin-top: 4px;
	width: 218px;
}

#not_wp-form textarea {
	margin-top: 4px;
	width: 350px;
	height: 200px;
}

#not_wp-form .choose-colour-button {
	position: relative;
	height: 30px;
	bottom: -4px;
}

.CodeMirror {
	border: 1px solid #ddd;
}

/* EOF */